*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: sans-serif;
}

html{
    font-size: 65.2%;
}

body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: #000;
}

/* ================= HEADER ================= */

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #f40909;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

/* ================= NAVBAR ================= */

nav{
    display: flex;
}

nav a{
    font-size: 1.8rem;
    color: aliceblue;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #fefbfb;
    border-bottom: 3px solid #f40909;
}

/* ================= HAMBURGER ================= */

.menu-btn{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-btn span{
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    transition: 0.3s;
}

/* ================= MOBILE NAV ================= */

@media (max-width: 995px){

    .menu-btn{
        display: flex;
    }

    nav{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 60%;
        background-color: rgb(89, 98, 98);
        border-left: 3px solid red;
        border-bottom: 3px solid red;
        border-bottom-left-radius: 2rem;
        padding: 2rem;
        flex-direction: column;
    }

    nav.active{
        display: flex;
    }

    nav a{
        margin: 2rem 0;
        font-size: 2rem;
    }
}

/* ================= SECTIONS ================= */

section{
    min-height: 100vh;
    padding: 5rem 9%;
}

/* ================= HOME ================= */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #070000;
}

.home-content h1{
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.3;
    color: #f40909;
}

span{
    color: red;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #f40909;
}

/* ================= IMAGE ================= */

.home-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s linear;
}

.home-img img:hover{
    transform: scale(1.05);
}

/* ================= BUTTON ================= */

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #ede4e4;
    border-radius: 4rem;
    font-size: 2rem;
    color: #5709f4;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #5709f4;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.03);
    background: #6b09f4;
    color: #100101;
    box-shadow: 0 0 25px #4809f4;
}

/* ================= TYPING TEXT ================= */

.typing-text{
    font-size: 3.4rem;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software developer";
    color: #6b09f4;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: #0d0d0d;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #5709f4;
    right: -8px;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #5709f4;
    }
}

@keyframes words {
    0%, 20%{
        content: "web developer";
    }
    21%, 40%{
        content: "Developer";
    }
    41%, 60%{
        content: "content creator";
    }
    61%, 80%{
        content: "you tuber";
    }
    81%, 100%{
        content: "begginer";
    }



}

/* ================= RESPONSIVE HOME ================= */

@media (max-width: 1000px){
    .home{
        gap: 4rem;
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.5rem;
    }

    .home-img img{
        width: 200px;
        height: 200px;
        margin-top: 4rem;
    }
}

/* ================= SKILLS & EDUCATION ================= */

#skills,
#education{
    background-color: #12000046;
    color: #e9f0f7;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 10rem;
}

/* ================= FOOTER ================= */

.footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ede4e4;
    background-color: transparent;
    padding: 10px 0;
    font-size: 1.9rem;
}
