*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'sans-serif' ;

}

html{
    font-size: 65.2%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: #000;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter:drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 3rem;
    color: #f40909;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: aliceblue;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;

}

nav a:hover,
nav a.active{
        color: #fefbfb;
        overflow: hidden;
        border-bottom: 3px solid #f40909;
}

@media(max-width :995px){
    nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid red;
        border-bottom: 3px solid red;
        border-bottom-left-radius: 2rem ;
        padding: 1rem solid;
        background-color: rgb(89, 98, 98);
        border-top: 0.1rem solid rgb(91, 88, 88);
    }

    nav.avtive{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem ;
    }

    nav a:hover{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem;
    }

    }

    section{
        min-height: 100vh;
        padding: 5rem 9% 5rem;
    }

    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem ;
        background-color: #070000;
    }

    .home .home-content h1{
        font-size: 6rem;
        font-weight:600; 
        line-height: 1.3;
        color: #f40909; }

    span{
        color:red ;
    }

    .home-content h3{
        font-size:  4rem;
        margin-bottom: 1rem;
        font-weight: 700;
        color: #f40909;
    }


    /*skills section*/
    #skills {
        background-color: #12000046;
        color: #e9f0f7;
        font-size: 2rem ;
        margin-top: 2rem;
        padding: 10rem;
    }

    /*education section*/
    #education {
        background-color: #12000046;
        color: #e9f0f7;
        font-size: 2rem ;
        margin-top: 2rem;
        padding: 10rem;
    }   

    




    .home-img img{
        border-radius: 50%;
    }

    .home-img img{
        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 25px solid blue,rgb(241, 10, 10);
        cursor: pointer;
        transition: 0.3s linear;
    

    }

    .home-img img:hover{
        font-size: 1.8rem;
        font-weight: 500;
    }


    .btn{
        display: inline-block;
        padding: 1rem 2.8rem;
        background-color: #ede4e4;
        border-radius: 4rem;
        font-size: 4rem;
        color: #5709f4;
        letter-spacing: 0.3rem;
        font-weight: 600;
        border: 2ox solid #5709f4;
        transition: 0.3s ease;
        cursor: pointer;
    }

.btn:hover{

    transform: scale3d(1.03);
    background:#6b09f4;
    color: #100101;
    box-shadow: 0 0 25px #4809f4;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}


.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software developer";
    color: #6b09f4;
    animation: words 20s infinite;
}


.typing-text span::after{
    content: "";
    background-color: #0d0d0d;
    position: absolute;
    width:calc(100% +8px) ;
    height: 100%;
    border-left: solid rgb(4, 4, 4);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #5709f4
    }
}

@keyframes words {
    0%, 20%{
        content: "web developer";
    }
    21%, 40%{
        content: "Developer";
    }
    41%, 60%{
        content: "content creator";
    }
    61%, 80%{
        content: "you tuber";
    }
    81%, 100%{
        content: "begginer";
    }



}


@media(max-width:1000px){
    .home{
        gap:4rem;
    }

}

@media (max-width:995px) {
        

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-img img {
        width: 70vh;
        margin-top: 4rem;
    }

}

.footer{
    position:fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ede4e4;
    background-color: transparent;
    padding: 10px 0;
    font-size: 1.9rem;
}